<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Files</title>
    <link href="{{ url_for('static', filename='dist/css/output.css') }}" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg w-96">
        <h1 class="text-2xl font-bold mb-6 text-center">Upload Student Answers and Reference CSV</h1>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="mb-4">
                {{ form.student_folder.label(class="block text-gray-700") }}
                {{ form.student_folder(class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-300") }}
            </div>
            <div class="mb-4">
                {{ form.reference_csv.label(class="block text-gray-700") }}
                {{ form.reference_csv(class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-300") }}
            </div>
            <div class="mb-6">
                {{ form.submit(class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600") }}
            </div>
        </form>
        
        
    </div>
</body>
</html>
